


<table>
    <thead>
        <tr>
            <th>attributes</th>
            <th>values</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td>age</td>
            <td><%= @cat.age %></td>
        </tr>
        <% @cat.attributes.keys.drop(1).each do |attribute| %>
            <tr> 
                <td><%= attribute %></td>
                <td><%= @cat.send(attribute) %></td>
            </tr>

        <% end %>
    </tbody>
</table>
