<div class= "masthead">
    <ul class="subjects">
        <li>CSS</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>Ruby</li>
    </ul>

    <h1 class="masthead__header">App Academy Times</h1>

    <ul class="current_info">
        <li>Tuesday, October 18, 2016</li>
        <li><span><i class="far fa-newspaper"></i></span>Today’s Paper</li>
        <li><span><i class="fa fa-video"></i></span>Video</li>
        <li>77°F</li>
        <li>AAO<span>+100%</span></li>
    </ul>