<h1>New user sign up!</h1>

<form action="<%=users_url%>" method = "POST"> 

<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%=msg%></li>
<%end%>
</ul>

<label for= "user-email">Email:</label>
<input type = "email"
name = "user[email]"
id= "user-email"
value="<%=@user.email%>" /> 

<label for= "user-password">Password:</label>
<input type = "password"
name = "user[password]"
id= "user-password"
value="<%=@user.password_digest%>" /> 

<input type ="submit" value="Create my FREE account!">
</form>


<%# where is users_url coming from and where are we going after form is filled?%>