




body {
  line-height: 1.5;

    font-family: Arial, sans-serif;
    /* background-color: brown; */
}

h1 {
    font-size: 38px;

}

h2 {
    font-size: 32px;

}

.ingredients-list{
    list-style: square inside;
    /* color: red; */
}

/* ol.ordered-list { 
    list-style-type: decimal;

} */

/* ol.ordered-list {list-style-type: upper-latin;} */

img {

}
