.tile{
  
    color: red;
    display: inline-block;
   
    height: 20px;
    width: 20px;
    border-style: outset;
    
    border-width: 2px;
   background: lightgrey;


}

.tile:hover {
        border-style: inset;
        background: grey;
}

body{
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 100px;
   
}

.title{
    font-size:18px;
    display: flex;
    justify-content: space-around;

  opacity: 1.6;
  filter: alpha(opacity=90);
     /* width: 150px;
    height: 150px; */
    background-color: transparent;
    box-shadow: 12px 20px 40px 20px #0ff;
}