/* PHASE 7: Online */
.online {
    position: absolute;
    background-color:#0c0;
    top: -10px;
    left: -10px;
    padding: 5px 30px;
    /* min-height: 30px; */
    transform: rotate(-45deg) translateX(-25%);
    color: white;
    font-weight: 700;
    box-shadow: 0 1px 0 0 #070;
}

.profile-picture {
  overflow: hidden; 
}

/* overflow hidden hides chld element overflow 